/* GENERAL SECTION START */

body {
  background: #eceef1;
}

body > * {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.link {
  cursor: pointer;
  color: #1a83ca;
}

button {
  background-color: #0077c5;
  cursor: pointer;
}

/* GENERAL SECTION END */

/* NAVIGATION SECTION START */

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

#forgot-password {
  line-height: 1.4;
  margin-right: 10px;
  text-align: center;
}

#sign-in-button {
  padding: 9px 20px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  font-size: 13.5px;
}

button i {
  margin-right: 2px;
  font-size: 16px;
}

/* NAVIGATION SECTION END */

/* FORM SECTION START */

main {
  display: flex;
  justify-content: center;
}

#form-section {
  background: #fff;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-element-box {
  display: flex;
  flex-direction: column;
}

/* FORM SECTION END */

/* FOOTER SECTION START */

footer {
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;
}

/* FOOTER SECTION END */
