/* GENERAL SECTION START */

body {
  background: #eceef1;
}

body > * {
  font-family: "AvenirNext", Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.link {
  cursor: pointer;
  color: #1a83ca;
}

button {
  background-color: #0077c5;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  font-size: 13.5px;
}

/* GENERAL SECTION END */

/* NAVIGATION SECTION START */

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

#forgot-password {
  line-height: 1.4;
  margin-right: 10px;
  text-align: center;
}

#sign-in-button {
  padding: 9px 20px;
}

button i {
  margin-right: 2px;
  font-size: 16px;
}

/* NAVIGATION SECTION END */

/* FORM SECTION START */
.sub-icons {
  width: 23px;
  height: 23px;
  margin-bottom: 15px;
}

#logo-image {
  width: 118px;
  height: 35px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAjIAAABTCAMAAACyJR29AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAMAUExURUdwTGxtc2ttc5mUlGxtcgCEz2xtc42DhbfLy4J9a2l7bgCDym1vdWttcwB3xWxuc21udAB3xmxtc46QlwB4xf7+/mxtc2xtc2xtc2xsc21udHByeWxtc2xtc2xudP39/nBwdWtsc////wCG1wB5x3ByeP///42Rlmxtcmxtc29vdpGRmAB4x2tsc21udGxsc2tscv///25vdWttc21udGtscpiZm////5CUmQB+yQB6xmxsc2xtc25udY2Ql////6mpqf///wB5xmxscwB3xgB3x2xtc////2xudI6SmI+SmAB9yGxtc2xtdGxudGxsc5SanP///2xtc2ttc2xudAB3xv///21tcwB3xiyhHGttdP///5KUnf///////wB4xv///46Ql////46SmP///4+Rl////wB4xgB4xv///42RmGxtc2xtcwB3xtYrHtYrHi2hHI6Rl46RlwB3xmxtc701IlCBhI6Rl21tdP///46RlwCFwgB4xgB3xgCCwY2Rlv///wB3xgCnpb01IgB3xi+hHL01ItYsH702JOEtHtctICygHtcsINkvJr01Ii2iHb42JP///46QlgB4x////////y2gHY6Rlv///////wCnpACnpQCnpb01IrzAxwB4xv///4+TmQB4xv///wB4xgCPuI6RlwCnpf///wCnpY6RlwCnpQCopQCnpQCnpdYsHmxtdI2Rl////7vAxgCnpI+Rlv///wCmpQB4xo+Rl46QmAB4xY2Ql////7u/x7u+xi2hHQB3xf///42QltUrHrw1IgCmpCygHGtscmtsc1SyR/z8/H7FdQZ6xjeU0eL09r48Kvrw7u73+hSBystgUn+64tru2NJ5banR64rB5UKqNPL58Vun2c/n9JbH57jZ76HVmtc1KWS5WOumoKbg30/BwLvn52rLyiGysIfV1CeMzuBlW9xQReaAeOSSihGsqjCR0PG3szq6uB+HzMnmxW2+Yvji4PXOzPDCvUme1p7L6cRNPF+q2mqw3TqmK/DSzmy1D0kAAADBdFJOUwCZigT4CXgKAQcPDyfE8l9PzLzL2glzoGTmMRSGlEYFHeDMBTYZ89h8gCJCd6s/7NbaLPJK/A43NxdDpts28kMGDlXNt0xp/lpMVSHRb1PIIiKOuDp+TVaI77J+FRVUlYe3qX52dpVf5baVsLWo8tLSqYjT/bIkYUNd/ifG/D3k0/eH068bjq8/EWB5eRvbYFVk92bjPa/c6rr20u7JRKAtLoVJqy2138W7/LZpWdzk/KTGWqaGUqeufoOxsbGDma46jOtWAAATzklEQVR42uydeVQURx7He5hhDm4GnEFhkFMZZERCVoURUa5BuUfiFRV0E0AhYDweIIhHvG/imWgUz7jm8njZ3ez5GCAZHcEsZl3Pp+u+7Cbsri8v+7KbZDe7W13V09M9I9LTI43w6vsHVHX1r6urf5+p+lV19wxBcNf0gMkBYwh+quVtuyBi1MVUnrXWrx11dj8/0zR/n8ZkntWWL/dpbOK+e0PczxuXZ5RkuhNDTbVtpHj5XQ5tz03k43UTkIGf35uh7QReXm8FWt3Eq9q90DaK495RGa2UKvZGDjFkDkJkFvKyXQNtz/CwTCDdbnqDV637oO1iPqaB0IkZvKqtcMY2rpUh/6QhRYx4FXT7Gj6246Fp20HnLUcaoNv38al1KjQ1JfAwjaQ+93yq9US2gZx2LmllqSIH9zKsXuZXvHuZxS70Mr8emF7ml073MaSWD6mAZjrveISKg84d5xEFLeAfj8A4yGBo4RX9OhWPPC4O4mKbsxpy0tnT09NJMTN7SHUz0wLWLJzIlzfetjPPHnpjAs9af3qRtJXzMc1srMiI4lltGlfbVxAmXQBty/0emF43tMIZrKcrz9VWZL7/4VZ39z9gJg5fF6wnj34QmbutrT2WmzDT+Myf9hRSYhQ3wDTZjc+rXfbqko/ogUTmoCl2pnBKRZtb073bjoRCtcIkaTa/uXRR2Yv0IDTMUQTbFNZEmzOLerGNhELVwiRpl7R39qmSF+iBxN1Rdqa2rJxgF/Vi25tOMJFpvdkNYyCfZx4ZOJUJgMkx1FrdvCWvo0nxaGrdjsoyNBpsLYSpV+kjLYF5xNloMjmZTK1ysCUrg1OZCLhrKkzvJ+aXjUKT4rXUuh2VZWgt2FoEU4voWstgfoJtdjWKTBkcbGFlaPED7psM002EZ8k6aq5Crduta3WYxZCBKky9Yjc5jrLNrnzo47Pk/6Rrf4yFzPfdKOc++JApHE17d1WtYMgUJdDeNTQLh0xOoM29ewcUmevd9wcrMtMOMty7aoxAyJxMYLjXkCoUMpmBTP8mC4wMY2Dq+uGa5atW+kCDC5kAln8PigVBxhDB8m/CSIGQ8Wf5NzBSWGTKbcjcM137rnWQhL8OyJArvNMKj9eiBdu26cL0MuR9pJlFLc1owda0QCBkyBXezIaGvWjBtjVNWGRsk+y7XT1Wi7jBiMyHcCJQOJlGYjzURzBfizKckUG7f4jwo20fg0wprLXokBUJ+VSoF2G+HmU4I4N2L0X40baPQ+YErLYBMXOK9CPUCzBfjjKckUG7o/EmjbbtXaeY4S/SupxBiMwF5iI/4zbky3Svg8QNGaQfozCJzjsiQ0Egb7a7DfkS3esgcUMGCeE207bBEZljrDGiwu7mT5ptaZ8TMkgIt0wOF78BdTNd3ddpZAbBDQNHZAqpknnnYAAsFgQZQxFVMh+OKQaxMMisbqBKkpDzIoVFhtq1s9MWTnkOQmQC6CI02Z4nCDIR9J0gNHWaLwwytlADTZ08BUaGnmdbH35oIAYhMhfoogDhkDHYGDgrJDI2BhphPkloZOQnWIH2oHhcxgGZZXTRGQF7mVK6aLGQyNgih4yBQYYgmhqtwPjEDY6HZZ6AzEKMjADIEETUiYzlgY3H0jwJAiMz1JA51S/IDDa5isxCu3FMGGQW2+0uEDIZdrtjZPggY5tgHRQQmQg6nyAkMvYTLIyMc8ig1wZeH09lJ7YJggx8bcBgmUplJ5iEQQa9NrDOGm5EtWJkeCBDTGZtOCMMMsQh1obFAiFD+LA2ZGBkeCEDIVm1Bq4Wi5e0CYQMKj8EV4tHlpmEQiaD8Z5RpPXtI4yMk8igm1Bta2qPH59OPzLR78jUI0j2Nbe01J81CYZMufUl2NOn0+iVFIyMk8jI1rAfahAGmWHo+Qjr4w0XBULGvYK1st+IkeGDDDGN+TBMwDSOyBz9zaVhLiBDzGQ+DLN2JkdkUkvrp7qCDJHJWtnP5IhM8olyT4wM4wZJrY2ZgHmckfnt0aOuICNvtjETMf8kN2TkqWWpqS4hg77Qwfq6PWdkSpKTMTJM742hHi2fvGw8wRWZS0cvFbqCDCHfvxYBM6p0KsERGWLByfoW15AhmpZT94JmexJckUnLLG8gsFg6/vKSC7+oHe+ExZSjha5WKm95qWwROdJw17D9Ra43Niqu5JhzI417Uw5mxN57A1OrHF95LCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCysAdfWbZtrqqtrNm/bKliVHrsPLJ0zZ+mB3R4D3nr39352+Mib77/z7lP5kT7P8g2BPj6BG56FN2vFWzatfO21lZu2iJ/ygRU7qtspVe9QcDkTl89AsX3OJ5TmbFc4eR3ETpyHos83nsTvHvmY0pvrXXaze5zPM/MNm/I9uzoo7drzpE9vsLNH3lnTzlDNzr4tRDNcbMzGpZ8wtHSjU8Zu3taUt1tf+8rMoX11Cj/5mKH3XXsdVp7k/+z8VLpsZQdDK2W9u3Ous8R80M7SBzv7HZmN1i7mv1RH0wczod7B/YWM52HEyudfov9HTvfWGRVI+25YUoXdt4UPIDOytzpYekv2tJBR1LTbqYYeKORi55ARc3vvVUH3MVdvUP3Mk8emWZOi+wkZ+TuIlK8tpr+g1Nu9jE3yqix2W8McL467v8OP6wgzNimiHa886GM+ZQj0M7Zz91I4hYzMi5XdweblT39vb99hLfONdw6Z4VmcGridHpKumq6gxPYBGpjeQ5x80X2t2/Q5Sq/ndhbPmWMdtpHfF9H1e0rXBfx5pbFmh0nEno6Ob5k/SGX5QwcdzwRfTnEKGb/zrLlSNROYP35rsvytvXprfyIj94DD0u2HDx/eBsg8vA2HJo8BQSbybYTJPcvX10zdX6BMDl9kPMnI967VR/9BMbDnwCAj3tXxGftHzP7XsUv+VJDZxiLmX+DQj9rbt8GiMKlOIpUWEykIBNVzBFGXr1DpZpHIhLqpVWHoEPlu+pgRJGDSxEqpCiSKY/SaOvA/O488xxSpXXN2A0Su3CBbcRUgc8d0g+xpdltLnw/R54UFS4OJWCns+X3HEoQXDCPE2Ua9KppCJkz6PImMOFsjyqKOHxqi145Fyeg8NdqMkMkmT6FOpM+LtrsWTQiSL8GodM1k+jOzm0nRyvOUymxCFqKszCLbIQVHyg+SaWFWYdSb1cYg9tHQ9+l91QV0z3Sz8zvYz5TDIi+jOMWo1PjBkzPK8ufqQGKE2wy9CkUY4iC10gj9aNuoHeElUorgRmlxrEapRo2TqXRVIejSe0j1VdowwsOoM2uMs1jnsgUMS/9kIfOoo2MLhYju8gw1cFS2MlddB5GJVecqUWPkQZW5ej+UzJqbqwdXOVqtvKxW+xEKaUGBBgxRm5nIAGIsYGBq34yaqfaWkLtKJ8GsJJsgQrx13m5jATKadG2Md2I+SaxyuEall4DPe4xaUqAWgaYmivKMicDLIyTgT/Bwo52fDoAu5s6dB99chch88+DOHdDRHKAGZV2iSCUK9zV7EaFmeOEKwJH9zCARmx5ulCrjiyEyseHegIICTdUMaUhuOHlZZbpEjUokUZOc+cV7x2jTw4spZLQScDmDEjVS78QR7FNZj4YlC4AFIEMNTYdR/BSvqczWSoKqdL5aCWgVMS6GbH+uKDtEoiEUIWqzKMSXfbQN1gim8z4g5pbpFpnegD4I5qBxMb5GiR6cXqxZO04LHBQjUQep0sPJU4pOD9f6iiS+rI2TROFS38rzJCjpalCuX0G6MnZcel6QLp7cmjI8XRVUGZ/yOGQ2gYD308+AHplMvyP//xts2ITKsmIuG1X5RHZ8XqjbCsCEKD1cVac9T37axTMmBdWp4kNIVyhBUpqoJTxU6hUqVQqhyfX10yVGE8zgF4x9lr/CAJg1MDGQ0Zqh/0VmDfm500pA36wbR85misnmUgNTLPkRyJeACCvrRylElbd9mAiC3wcW0LNcgciA/5YHIAD+f3vn1trGEcXxkXaRtEKqzBIkrXfXaB8ElkBaocuT1k8CoQfJAtlgmi/QB+lRD35vaUu/Qj9AX/3QD9CY0qxJoZf0QikpBKe5kAQnaaD0Quk5Z2ZXK2ntODelBQ/Y3uxKszNnfnPO/8wMhD8zbFRaZWuGTFogk0gjJCyjIzJla4wCLj3tEmYWfNLUMFDUbRjYMvQTeh/RkoSM0cCp1AGLSNkFh/cpMXLr8C5H5iu+OsOdsYuOIDbF3/lpkSNTctHfdVt6aGC6NE/M4S/0n3IJZNLYm7o8AAfp1vB6w21iKys16Mm4jw2r6v5NB27WDsCvM1XFeeMC/qzSwX+P0Z5RR2Jxp0LzQwkLTH6C/SMg4yfac4GpgmNZhSoiR/hSQ8P+WljRVgveXHLwcreV8gKTBlAmANWAlAEeDx/yBb05ZLIBZKbUtIhFiltyRiwlxMLImtcySRcnSs6J2YvBgIGU+eHp1RkyV59C3vQ2989oUowky8hU3XVfy6S0CHGYVrkFgNfklE/5rCwxs0ZP43YWkYna9MV0JSQrozWZk2u3vuDICDeT4MhskUjA7un4m5A5wEqKbjUUmbfmiPmKI/OWQIa3PmohMmQmdcxjaGsP/E5TVOHfBGPX6HqAIzkk+ZaRE2ydv1YHhnrT4qlaJvFuGDLvziFjOELRRHDs2P4R1OFw+3dgZmg8UtWyHjJplfd4hsz9a6RjzkbGEsGQP8+p0O64mJS6h4zUHVu2TBaP10Lk5xnI1IVli8vIZBu+/HW0nJC/m/xv3wSj8f5suXWWjgj7twGZtMwzxC3NbmeUMGTuECmEzK0gMjgKYoRa2wIZMoXkrp2BjCDmxqM5ZBpcem5DrQWXRImd5d9yDLrLiy0Wf2oG/4HZIyMy1CO0SGaqUmllYMjPkL/nQCaek7Uc2jtCM2/9qMjiR7aFRc6x5JHGL00PmbJ6VIsCpRiY7qNvuQli6bG3MhMSmCQEv9TnyLQFMmmWOVDENPKQUTpWd13XCZmCLRtLGdMZgWldIKPPkOl7yNizjKnU4EowLQzcMdm+W/BrGApkJhVAJm9VeGRUmqZtFUIC073DEw+Z28HAxKsrzCHToR6cgsylIDHXf5sLTHPIUCe1mI8MzTe2cJPV6HpPFoJOINPaXqNSYIZ1OjKJcwQmgKZZmW54GRMik2gMUlSKTGl1+aU+y5iKmaFdIPn7+PD488+PoeqbApkP5pDJN7gDCCDj0Cgkaibc5qNHkZCQWXMxBKcQGWl4uTldcjOe/CVkvhTy9zM+rAddYdkU+IsyhSqBzIabmiXZUXmfpPGEB0E5D5Bx+deFwBTp0/goMGUhMJW1y55zSTqjEPl7B6VMwMt8vIzMwbmQeS9IzBWBjCd/d+mvSYGJkNnhKxWF6TYEpm1RxWR2MxyZuh+fwUiF073M+2HIvL+cZI/bQWRYmvtvNNjQ9C/XWn7uDkMMSfZNiEi/Y1i678Woj7xGUdTZJSpyQWRc8h0D9Pk7naSn65hToo4V6SPQqpGmM9NemNlekv0zIQMlmGSbGn5Zd4CPJFWZdQUyUl/F1u8nKWMy5Q1ShchJAnUuyCad3FrUawwbgYxC+ZuyJwpTStiMtBGSZD859LXMnVmS/SxkimKuLCTZ33vEeMi8I5Dp8Cwh7yOzS+orvtOH6dem5e2N1NzNUGTYeIj2zrch0a/t4PD0dGxmfaEtH4Yh86E38NgMaQd/DY05ZHZbqGB6OApVDCssD0PIto5goAsdoF5vNGkp75gn7o/97WxvKa8gXzbAOqoNyd7YysyQSVfUQXeML2aFvlPKm3IOJ3bELpkg5DuZzLht77PtFlhV6Q8XUiZvKQ+QofW84FJeMm0bGcPJokuJtoye2VdHYvjqVm0zn4N8GZFJRGRQjMPcsN3Npu19+qZmZKKNiUI6cdzNqnZTJNl1W40n+5rRrTQWLCt9wiPT7RNC5nZgKe9ZyLC+Y24uL+U9+lMQc+U6ISOW8ppuzzJj7RZmmgIZcIiT2MippWilwoanaM/AzXBkikNrlOWmr9ec0aaK+bZi9c3B4lLeEjL+Uh6LyMM2zHhnrCGrAWTYnl2rdBqkfHt2v9JvZEhr2J2slJsOdxoTiW8YPLyGyDzwkPE3DNhuxARnocQmO10pBpBtcMm2l09kcjtRbn+pm1NNHn3imznoZjGq5jKJ2HqiRElMfbQVvmEAyPg7B/6GAVSsGvUURaF8RS0lM3tYBV/DaqsGWHsNjZOIGUk2WIsPKuNS0f9mRDj4sjHht6URVrQ+WmMKNDNSD98wuHf47a+AzK2TwIZBmQZM5+uQWaglD/3f5WlZrEyPjGrIhgH4mRt8r+DvP2YbBk1Xqsfaxi5fgBOZTirWNj1F7q2Hwnu9m136dD0m1jOZWNxM9MyKwYO0kjdzA2K6UOJ1z20YLCITOABRBS3E9GYWM3SWIrPEq/TWZDPbE8oKnveSQgduwL1yb1D1tyUfBLRvYFvydW2iiW3JH3xkFrclU25qRUdK+LbkEwDm2ztnbkue67AMbks++un68rYkILPqwzJCAP/1zeHxvPh9+cIPPxxfe3D+ww8vW7zDD/9cPeXww8qQ8Q4/nNy7fffsww/nKqceflg9Mv7hh6+/e9bhhxdghlaAHzzHEauXZ+YZR6xWh8yrPWLFTjti9QaQOf8RqxcJFM97kPMVvPLsg5wrRGY1BznfBDLnPsj5QuW/dlxcWVdWaNoVHBdXCuxNlNd2XPyiXJSLclEuykW5KBflf1r+Bej2IkPj1X+vAAAAAElFTkSuQmCC);
  padding: 10px 0;
}

#mint-icon-box {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PGcgZmlsbD0ibm9uZSI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMTAiIGZpbGw9IiMwMEE2QTQiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTAgMi43NzdjLS42NTguNjYtNS4xNzQgNS4zMDktNS4xNzQgOC45MyAwIDIuNTc4IDIuMDU1IDMuNDMyIDUuMTc0IDUuNTU0IDMuMTItMi4xMjIgNS4xNzQtMi45NzYgNS4xNzQtNS41NTQgMC0zLjYyMS00LjUxNS04LjI3LTUuMTc0LTguOTN6bTAgMTIuNzQ4bC0uNjA3LS4zOTdjLTIuMzItMS41MTEtMy4xMjMtMi4xMDEtMy4xMjMtMy40MjEgMC0yLjA0NCAyLjAyOC00Ljg4OCAzLjczLTYuODE2djEwLjYzNHoiLz48L2c+PC9zdmc+);
}

#quickbook-icon-box {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii01OTguNSA5NzEuNSA1MCA1MCI+PGNpcmNsZSBjeD0iLTU3My41IiBjeT0iOTk2LjUiIHI9IjI1IiBmaWxsPSIjMmNhMDFjIi8+PHBhdGggZD0iTS01OTEuNSw5OTYuNWMwLDUuNCw0LjQsOS44LDkuOCw5LjhoMS40di0zLjZoLTEuNGMtMy40LDAtNi4yLTIuOC02LjItNi4yczIuOC02LjIsNi4yLTYuMmgzLjQgYzAsMCwwLDE4LjYsMCwxOC44YzAsMiwxLjYsMy42LDMuNiwzLjZ2LTI2LjJjMCwwLTMuOCwwLTcsMEMtNTg3LjMsOTg2LjctNTkxLjUsOTkxLjEtNTkxLjUsOTk2LjV6IE0tNTY1LjEsOTg2LjdoLTEuNHYzLjZoMS40IGMzLjQsMCw2LjIsMi44LDYuMiw2LjJzLTIuOCw2LjItNi4yLDYuMmgtMy40YzAsMCwwLTE4LjYsMC0xOC44YzAtMi0xLjYtMy42LTMuNi0zLjZ2MjYuMmMwLDAsMy44LDAsNywwYzUuNCwwLDkuOC00LjQsOS44LTkuOCBDLTU1NS41LDk5MS4xLTU1OS43LDk4Ni43LTU2NS4xLDk4Ni43eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

#turbotax-icon-box {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii01OTguNSA5NzEuNSA1MCA1MCI+PGNpcmNsZSBjeD0iLTU3My41IiBjeT0iOTk2LjUiIHI9IjI1IiBmaWxsPSIjZDUyYjFlIi8+PHBhdGggZD0iTS01NzkuMSwxMDA1LjdjLTIuOC0yLTUuNi00LjItOC4yLTYuNmMtMSwyLjItMS44LDQuNC0yLjYsNi42YzQuMiwzLjYsOS44LDcuNiwxMy44LDEwIGM1LTEzLDEyLjgtMjEuNCwyMC40LTI3LjRjLTEtMi0yLjItMy44LTMuOC01LjRDLTU2Ny43LDk4OC45LTU3NC4zLDk5Ni43LTU3OS4xLDEwMDUuN3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-section {
  background: #fff;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid #c7c7c7;
  color: #4c4c4c;
}

.form-element-box {
  display: flex;
  margin: 20px 0;
  width: 25vw;
  flex-direction: column;
}

.form-element-box label {
  padding: 0 0 6px 0;
  font-size: 14px;
  color: #404040;
}

.form-element-box input {
  padding: 0 5px;
  border-radius: 4px;
  height: 34px;
  line-height: 1.3;
  font-size: 1.2em;
}

#form-icons {
  display: flex;
  font-size: 18px;
  color: #7b7b81;
}

#form-icons li {
  margin-right: 9px;
}

#form-header {
  color: #4c4c4c;
  font-size: 24px;
  font-weight: 400;
}

#form-sub-heading {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  padding: 20px 0;
}

#form-sub-heading span.link {
  font-size: 12px;
}

button[type="submit"] {
  padding: 12px 12px;
  width: 25vw;
  font-size: 15.75px;
}

/* FORM SECTION END */

/* FOOTER SECTION START */

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;
}

/* FOOTER SECTION END */
